[submodule "xmarts/addenda_siete24"]
	path = xmarts/addenda_siete24
	url = git@github.com:xmarts/addenda_siete24.git
	branch = 15.0

[submodule "xmarts/addenda_tiendas3b"]
	path = xmarts/addenda_tiendas3b
	url = git@github.com:xmarts/addenda_tiendas3b.git
	branch = 15.0

[submodule "xmarts/addendas_soriana"]
	path = xmarts/addendas_soriana
	url = git@github.com:xmarts/addendas_soriana.git
	branch = 15.0

[submodule "xmarts/branch"]
	path = xmarts/branch
	url = git@github.com:xmarts/branch.git
	branch = 15.0
