[submodule "xmarts/addenda_siete24"]
	path = xmarts/addenda_siete24
	url = git@github.com:xmarts/addenda_siete24.git
	branch = 15.0

[submodule "xmarts/addenda_tiendas3b"]
	path = xmarts/addenda_tiendas3b
	url = git@github.com:xmarts/addenda_tiendas3b.git
	branch = 15.0

[submodule "xmarts/addendas_soriana"]
	path = xmarts/addendas_soriana
	url = git@github.com:xmarts/addendas_soriana.git
	branch = 15.0

[submodule "xmarts/branch"]
	path = xmarts/branch
	url = git@github.com:xmarts/branch.git
	branch = 15.0

[submodule "xmarts/cfdi4-enterprise"]
	path = xmarts/cfdi4-enterprise
	url = git@github.com:xmarts/cfdi4-enterprise.git
	branch = 15.0

[submodule "xmarts/credit_limit_alert_update"]
	path = xmarts/credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
	branch = 15.0

[submodule "xmarts/fields_functions_jarochito"]
	path = xmarts/fields_functions_jarochito
	url = git@github.com:xmarts/fields_functions_jarochito.git
	branch = 15.0

[submodule "xmarts/fieldservice_xma"]
	path = xmarts/fieldservice_xma
	url = git@github.com:xmarts/fieldservice_xma.git
	branch = 15.0
